@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/**** Navigation Bar ****/
.superscript{
    vertical-align:super;
    font-size: 1rem;
    font-weight: 10;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
}

body {
    overflow-x: hidden; 
}

.nav-wrapper{
    position: fixed;
    margin-top: 7.5rem;
    top: 12rem;
    left: 6vw;
    z-index: 3;
}

nav a.nav-link{
    border: 0.01rem solid transparent;
    font-size: 0.7rem;
    letter-spacing: 0.07rem;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    color: white;
    background-color: black;
    width: 9rem;
    text-align: center;
    font-family: 'Lato';
    font-weight: 500;
    transition: all 0.15s ease-in;
}

nav a.nav-link:hover {
    border: solid black 0.01rem;
    background-color: white;
    color: black;
}

nav a.nav-link:visited{
    text-decoration: none;
}

/**** Header ****/
.flex-container{
    margin-left: 24.5rem;
    display: inline-grid;
    /*grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));*/
    row-gap: 2rem;
    width: 70vw;
    grid-template-columns: 35vw 35vw;
}

#prof-pic{
    position: fixed;
    margin-top: 1rem;
    left: 3.5vw;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background-color: black;
    border: 0.15rem solid black;
    z-index: 3;
    box-shadow: 0 3px 2px rgb(0 0 0 / 0.2);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/**** About Me ****/
.aboutme-wrapper{
    grid-column-start: 1;
    grid-column-end: 1;
    width: fit-content;
    margin-top: 0.6rem;
}

#aboutme-header{
    color: black;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3vmax;
}

#aboutme-text{
    color: black;
    font-family: 'Lato';
    margin-top: 3vh;
    font-size: 1.1vw;
}

.text-wrapper{
    width: 32vw;
}
/**** Skills ****/

.skills-wrapper{
    grid-column-start: 2;
    grid-column-end: 2;
    width: 30vw;
}

#skills-header{
    color: black;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3vmax;
}

.containerStyles{
    display: inline-block;
    height: 0.3rem;
    width: 100%;
    background-color: lightgray;
    margin-right: 10vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.fillerStyles{
    transition: "width 2s ease-in-out";
}

.labelStyles{
    margin-top: 5rem;
    color: black;
    font-weight: 500;
    font-family: "Lato";
}

/**** Projects ****/
.projects-wrapper{
    grid-column: 1 / span 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

#projects-header{
    color: black;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3vmax;
}

.image{
    position: absolute;
    width: 30vw;
    height: 35vh;
    object-fit: cover;
    border-radius: 1rem;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;

}


.card-component:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.5);
    transition: 0.2s ease-in-out;
}

.card-component{    
    margin-top: 3vh;
    margin-right: 5vw;
    width: 30vw;
    height: 35vh;
    display: inline-block;
    border-radius: 1rem;
    z-index: -1;
    transition: 0.2s ease-in-out;
    background-color: grey;
}

.project-title{
    margin-top: 0.1rem;
    font-family: "Lato";
    font-size: 1.5rem;
    display: wrap;
    font-weight: 600;
    color: black;
}

.card-wrapper{
    display: inline-block;
}

.tag{
    text-align: center;
    font-family: "Lato";
    font-size: 0.7rem;
    font-weight: 600;
    background-color: rgb(156, 156, 156);
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    margin-top: 0.3rem;
    margin-right: 0.2rem;
    border-radius: 16px;
    width: fit-content;
    display: inline-block;
}

.tag-wrapper{
    display: inline-block;
}

/**** Contact Form ****/

.contactme-wrapper{
    margin-top: 1rem;
    grid-column: 1 / span 2;
    grid-row-start: 4;
    flex-direction: row;
}

.contact-wrapper{
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
    width: 65vw;
    display: flex;
    flex-direction: row;
}

#contact-header{
    color: black;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3vmax;
}

.form-wrapper{
    grid-column-start: 1;
    grid-column-end: 1;
    align-items: left;
    display: inline-block;
    width: 33vw;
}

.name-input{
    border: solid black 0.01rem;
    border-radius:  2rem;
    width: 28vw;
    margin: 1rem; 
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding: 0.6rem;
}

.email-input{
    width: 28vw;
    border: solid black 0.01rem;
    border-radius: 2rem;
    margin: 1rem; 
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding: 0.6rem;
}

.message{
    width: 28vw;
    border: solid black 0.01rem;
    border-radius: 1rem;
    margin: 1rem; 
    resize: none;
    padding: 1rem;
    overflow: hidden;
}

.send-button{
    border: 0.01rem solid transparent;
    font-size: 0.7rem;
    letter-spacing: 0.07rem;
    margin-bottom: 0.5rem;
    border-radius: 16px;
    cursor: pointer;
    color: white;
    background-color: black;
    height: 2rem;
    width: 4rem;
    text-align: center;
    font-family: 'Lato';
    font-weight: 500;
    transition: all 0.15s ease-in;
    margin-left: 1.2rem;
}

.send-button:hover{
    border: solid black 0.01rem;
    background-color: white;
    color: black;
}

.info{
    display: inline-block;
    margin-top: 1rem;
    font-weight: 300;
}