@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/**** Navigation Bar ****/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.home{
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.main-content{
    margin-top: 3rem;
    max-width: fit-content;
    height: fit-content;
}

body {
    overflow-x: hidden; 
}

.nav-wrapper{
    display: inline-flex;
    flex-direction: column;
    z-index: 3;
    text-align: center;
    margin-left: 1rem;
    height: 100vh;
    width: 20rem;
    text-align: center;
    align-items: center;
    margin-top: 10rem;
}

.nav{
    background-color: lightgrey;
    border-radius: 16px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a.nav-link{
    color: black;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    width: 6rem;
    transition: all 0.15s ease-in;
    border: 0.01rem solid transparent;
    font-size: 0.8rem;
    border-radius: 16px;
}

/*
nav a.nav-link{
    border: 0.01rem solid transparent;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    color: white;
    background-color: black;
    width: 10rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    transition: all 0.15s ease-in;
}*/

nav a.nav-link:hover {
    border-radius: 16px;
    background-color: white;
    color: black;
}


#prof-pic{
    clip-path: inset(10% 10% 10% 10% round 16px);
    height: 7rem;
    width: 7rem;
    margin-bottom: 1rem;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/**** Header ****/

.superscript{
    vertical-align: super;
    font-size: 1rem;
    font-weight: 10;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
}

.flex-container{
    display: inline-grid;
    row-gap: 2rem;
    width: fit-content;
    grid-template-columns: 35vw 35vw;
}

/**** About Me ****/
.aboutme-wrapper{
    grid-column-start: 1;
    grid-column-end: 1;
    width: fit-content;
    margin-top: 0.6rem;
}

#aboutme-header{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.5vmax;
}

#aboutme-text{
    margin-left: 1.7rem;
    color: black;
    margin-top: 3vh;
    font-size: 1.15rem;
    font-weight: 350;
}

.aboutme-bold{
    font-weight: 700;
}

.text-wrapper{
    width: 32vw;
}

/**** Skills ****/

.skills-wrapper{
    grid-column-start: 2;
    grid-column-end: 2;
    width: 30vw;
}

#skills-header{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.5vmax;
}

.containerStyles{
    margin-left: 1.7rem;
    display: inline-block;
    height: 0.3rem;
    width: 100%;
    background-color: lightgray;
    margin-right: 10vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.fillerStyles{
    transition: "width 2s ease-in-out";
}

.labelStyles{
    margin-top: 5rem;
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Roboto";
}

/**** Projects ****/
.projects-wrapper{
    grid-column: 1 / span 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

#projects-header{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.5vmax;
}

.image{
    width: 30vw;
    height: 35vh;
    object-fit: cover;
    border-radius: 1rem;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
}


.card-component:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.5);
    transition: 0.2s ease-in-out;
}


.project-title{
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    display: wrap;
    font-weight: 100;
    color: black;
}

.project-desc{
    margin-top: 0.6rem;
    margin-bottom: 0rem;
    font-size: 0.9rem;
    font-style: italic;
    color: rgb(0, 0, 0, 0.7);
}

.card-wrapper{
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 1.7rem;
    margin: 0.6rem;
    max-width: fit-content;
    transition: 0.2s ease-in-out;
    border-radius: 16px;
}

.card-wrapper:hover{
    transform: scale(1.01);
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: lightgrey;
}

.card-info-wrapper{
    text-decoration: none;
    width: 30vw;
}

.tag{
    text-align: center;
    font-family: "Lato";
    font-size: 0.7rem;
    font-weight: 500;
    background-color: rgb(156, 156, 156);
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    margin-right: 0.2rem;
    border-radius: 16px;
    width: fit-content;
    display: inline-block;
    color: rgb(14, 14, 14);
}

.tag-wrapper{
    display: inline-block;
}

/**** Contact Form ****/

.contactme-wrapper{
    margin-top: 3rem;
    grid-column: 1 / span 2;
    grid-row-start: 4;
    flex-direction: row;
}

.contact-wrapper{
    margin-left: 1.7rem;
    margin-top: 1rem;
    width: 65vw;
    display: flex;
    flex-direction: row;
}

#contact-header{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.5vmax;
}

.form-wrapper{
    grid-column-start: 1;
    grid-column-end: 1;
    align-items: left;
    display: inline-block;
    width: 35vw;
}

.name-input{
    border: none;
    border-bottom: 1px solid black;
    outline: none; 
    width: 28vw;
    margin-top: 1rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding: 0.3rem;
}

.email-input{
    width: 28vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none; 
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding: 0.3rem;
}

.message{
    width: 28vw;
    border: none;
    border-bottom: 1px solid black;
    outline: none; 
    resize: none;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding: 0.3rem;
    overflow: hidden;
}

.send-button{
    border: 0.01rem solid transparent;
    font-size: 0.7rem;
    letter-spacing: 0.07rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 16px;
    cursor: pointer;
    color: white;
    background-color: black;
    height: 2rem;
    width: 4rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    transition: all 0.15s ease-in;
}

.send-button:hover{
    border: solid black 0.01rem;
    background-color: white;
    color: black;
}

.info{
    display: inline-block;
    margin-top: 1rem;
}

.info-bold{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    margin-bottom: 0rem;
}

.info-light{
    font-weight: 100;
    font-size: 0.95rem;
    text-decoration: none;
}