@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (max-width: 1000px) {
    .card {
        flex-basis: calc(50% - 2px); 
        max-width: calc(50% - 2px); 
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.home{
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.main-content{
    margin-top: 3rem;
    max-width: fit-content;
    height: fit-content;
}

body {
    overflow-x: hidden; 
}

/**** NavBar ****/
.nav-wrapper{
    display: inline-flex;
    z-index: 1;
    width: 20rem;
}

.nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7rem;
    top: 10.5rem;
    left: 1.5vw;
}

nav a.nav-link{
    text-align: center;
    color: black;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.9rem;
    width: 6rem;
    transition: all 0.15s ease-in;
    border: 0.01rem solid transparent;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    opacity: 0;
    transform: translateY(-2rem);
    animation: fade-in 0.5s ease-in-out forwards;
}

.nav-link:nth-child(1) {
    animation-delay: 0.1s;
}
  
.nav-link:nth-child(2) {
    animation-delay: 0.2s;
}
  
.nav-link:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

nav a.nav-link:hover {
    background-color: white;
    color: black;
}

.prof-pic{
    position: absolute;
    top: 3.5rem;
    left: 1.5vw;
    clip-path: inset(12% 12% 12% 12% round 10px);
    height: 7rem;
    width: 7rem;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.3s ease-out;
    z-index: 2;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.prof-pic:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.1s ease-in;
}

.prof-pic.expanded{
    transform: scale(1.05);
    transition: all 0.1s ease-in;
}

.square {
    position: relative;
    top: 3.5rem;
    left: 1.5vw;
    width: 100px;
    height: 200px;
    z-index: 0;
}
  
.top,
.middle,
.bottom {
    position: absolute;
    left: 0;
    right: 0;
    background: lightgrey;
    z-index: 2;
}
  
.top {
    top: 0;
    height: 2rem;
    width: 7rem;
    border-radius: 0.5rem 0.5rem 0 0;
}
  
.middle {
    top: 20px;
    width: 7rem;
    height: 3rem;
    transform: scaleY(1.5);
    transform-origin: top;
    transition: all 1s ease;
}
  
.bottom {
    top: 80px;
    height: 2rem;
    width: 7rem;
    border-radius: 0 0 0.5rem 0.5rem;
    transition: all 1s ease;
}
  
.middle.expanded {
    transition: all 1s ease;
    transform: scaleY(4.6);
}
  
  
.bottom.expanded {
    transition: all 1s ease;
    transform: translateY(155px);
}
  
/**** Header ****/
.superscript{
    vertical-align: super;
    font-size: 1rem;
    font-weight: 10;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
}

.grid-container{
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

/**** About Me ****/
.aboutme-wrapper{
    grid-column: 1 / span 1;
    width: 100%;
    margin-top: 0.6rem;
}

#aboutme-header{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.5vmax;
    margin-bottom: -10px;
}

#aboutme-text{
    margin-left: 1.7rem;
    color: black;
    margin-top: 3vh;
    font-size: 1.2rem;
    font-weight: 350;
    width: calc(100% - 3.4rem);
    overflow-wrap: break-word;
    max-height: 30vh;
    overflow: auto;
    padding-right: 10px;
}

.aboutme-bold{
    font-weight: 700;
}

.text-wrapper{
    width: 100%;
}

/**** Skills ****/

.skills-wrapper{
    grid-column-start: 2;
    grid-column-end: 2;
    width: 90%;
}

#skills-header{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.5vmax;
}

.containerStyles{
    margin-left: 1.7rem;
    display: inline-block;
    height: 0.3rem;
    width: 100%;
    background-color: lightgray;
    margin-top: 3vh;
}

.fillerStyles{
    transition: "width 2s ease-in-out";
}

.labelStyles{
    margin-top: 5rem;
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Roboto";
}

/**** Projects ****/
.projects-wrapper{
    grid-column: 1 / span 2;
    width: 100%;
}

#projects-header{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.5vmax;
    margin-bottom: 0.5rem !important;
}

.cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1px;
    margin-left: 1.7rem;
}

.card{
    flex: 0 0 calc(30% - 2px);
    max-width: calc(30% - 2px); 
    display: block;
    padding: 1.5rem;
    max-width: 30%;
    height: auto;
    transition: 0.2s ease-in-out;
    border: 0 !important;
    box-sizing: border-box;
}

.card:hover{
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: lightgrey;
}

.image{
    max-width: 100%;
    height: 35vh;
    object-fit: cover;
    border-radius: 0.5rem;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
}

.project-title{
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    display: wrap;
    font-weight: 100;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-desc{
    margin-top: 0.6rem;
    margin-bottom: 0rem;
    font-size: 0.8vw;
    font-style: italic;
    height: fit-content;
    width: 100%;
    color: rgb(0, 0, 0, 0.7);
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-info-wrapper{
    text-decoration: none;
    width: 100%;
}

.tag{
    text-align: center;
    font-family: "Lato";
    font-size: 0.6vw;
    font-weight: 500;
    background-color: rgb(156, 156, 156);
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    margin-right: 0.2rem;
    border-radius: 16px;
    width: fit-content;
    display: inline-block;
    color: rgb(14, 14, 14);
}

.tag-wrapper{
    display: flex;
}

/**** Contact Form ****/

.contactme-wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 
    margin-top: 3rem;
    grid-column: 1 / span 2;
    grid-row-start: 4;
    flex-direction: row;
}

.contact-wrapper{
    margin-left: 1.7rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

#contact-header{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.5vmax;
}

.form-wrapper{
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: left;
    display: inline-block;
    width: 100%;
}

.name-input{
    border: none;
    border-bottom: 1px solid black;
    outline: none; 
    width: 35vw;
    margin-top: 1rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding: 0.3rem;
}

.email-input{
    width: 35vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none; 
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding: 0.3rem;
}

.message{
    width: 35vw;
    border: none;
    border-bottom: 1px solid black;
    outline: none; 
    resize: none;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding: 0.3rem;
    overflow: hidden;
}

.send-button{
    border: 0.01rem solid transparent;
    font-size: 0.7rem;
    letter-spacing: 0.07rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 16px;
    cursor: pointer;
    color: white;
    background-color: black;
    height: 2rem;
    width: 4rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    transition: all 0.15s ease-in;
}

.send-button:hover{
    border: solid black 0.01rem;
    background-color: white;
    color: black;
}

.info{
    display: inline-block;
    margin-top: 1rem;
    width: 100%;
}

.info-bold{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    margin-bottom: 0rem;
}

.info-light{
    font-weight: 100;
    font-size: 0.95rem;
    text-decoration: none;
}